<h1>Scrabble Time!</h1>
<form action='/score'>
  <div class="form-group">
    <label for="input1">Enter Scrabble Word</label>
    <input id="input1" name="input1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-default navbar-btn">Do It!</button>
</form>
